//@theme "~/.config/rofi/themes/spotlight-dark.rasi"

//@theme "~/.config/rofi/themes/spotlight-dark.rasi"

//@theme "~/.config/rofi/themes/spotlight-dark.rasi"

@theme "~/.config/rofi/themes/spotlight-dark.rasi"
