// Dark colors
* {
    background:     #1E2127DD;
    background-alt: #282B31DD;
    foreground:     #FFFFFFFF;
    foreground-alt: #000000FF;
    selected:       #61AFEFFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}